{% extends "admin/change_list.html" %}
{% load i18n %}

{% block javascripts %}
    {{ block.super }}
    {{ settings_form.media }}
{% endblock %}

{% block content %}
<div id="content-main">

    {% if request.POST %}
        <p class="errornote">{% trans "Please correct the errors below." %}</p>
        {{ settings_form.non_field_errors }}
    {% endif %}

    <form method="post" class="change-form" id="settings-form">
    {% csrf_token %}
    {% for field in settings_form %}
        {% ifchanged field.group %}
            {% if not forloop.first %}
            </div>
            {% endif %}
            <fieldset class="grp-module">
            <h2>{% trans field.group %}</h2>
        {% endifchanged %}
        <div class="grp-row grp-cells-1"><div class="l-2c-fluid l-d-4">
            <div class="c-1">
            {{ field.label_tag }}
            </div>
            <div class="c-2">
                {{ field }}{{ field.errors }}
                <p class="grp-help">{{ field.help_text }}</p>
            </div>
        </div></div>
        {% if forloop.last %}
            </fieldset>
        {% endif %}
    {% endfor %}
    <div class="grp-module grp-submit-row">
        <input type="submit" class="default" value="{% trans "Save" %}" />
    </div>
    </form>

</div>
{% endblock %}
