{% load i18n admin_static %}
{% if result_hidden_fields %}
    <div class="hiddenfields"> {# DIV for HTML validation #}
        {% for item in result_hidden_fields %}{{ item }}{% endfor %}
    </div>
{% endif %}

{% if results %}
    <div class="grp-module grp-changelist-results">
        <table id="result_list" cellspacing="0" class="grp-sortable">
            <thead>
            <tr>
                {% for header in result_headers %}
                    <th scope="col" {{ header.class_attrib }}>
                        {% if header.sortable %}
                            {% if header.sort_priority > 0 %}
                                <div class="grp-sortoptions">
                                    <a href="{{ header.url_toggle }}" class="grp-toggle {% if header.ascending %}grp-ascending{% else %}grp-descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
                                    {% if num_sorted_fields > 1 %}<span class="grp-sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}
                                    <a class="grp-sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="grp-text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row_pk, row_parent_pk, result in results %}
                {% if result.form.non_field_errors %}
                    <tr class="grp-errors"><td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td></tr>
                {% endif %}
                <tr data-tt-id="{{ row_pk }}" data-tt-parent-id="{{ row_parent_pk|default_if_none:"" }}" class="grp-row {% cycle 'grp-row-even' 'grp-row-odd' %}">{% for item in result %}{{ item }}{% endfor %}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}